:root {
	font-size: 16px;
	font-family: 'SUSE', system-ui, sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

:is(h1, h2, h3, h4, h5, h6, p, ul, ol) {
	margin: 0;
}

header {
	padding: 3rem 1rem;
	text-align: center;
}

header h1 {
	font-size: 3em;
}
